*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}

body{
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator{
    padding: 15px;
    border: 2px solid rgb(122, 121, 120);
    border-radius: 15px;
    background-color: #000;
}

.display input{
    width: 360px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: transparent;
    color: #fff;
    font-size: 70px;
    text-align: right;
    cursor: pointer;
}

input::placeholder{
    color: #fff;
}

button{
    width: 70px;
    height: 70px;
    margin: 15px;
    background: rgb(75, 75, 75);
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    border: 0;
    border-radius: 50px;
    
    }

button:active{
    background: rgb(51, 51, 51);
    transform: translate(2px,2px);
    }

.opr{
    color: black;
    background: #a7a5a5;
    font-weight: 500;
}

.opr:active{
    background: rgb(128, 127, 127);
    transform: translate(2px,2px);
}

#eqBtn{
    background: rgb(255, 145, 0);
    font-weight: 600;
}

#eqBtn:active{
    background: rgb(217, 101, 18);
    transform: translate(2px,2px);
}
